/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
/************** ROOT STYLES START **************/
:root{
    --header-bg-color: ;
    --main-bg-color: ;
    --main-text-color: ;
    --main-subtitle-color: ;
    --build-bg-color: ;
    --deliver-bg-color: ;
    --deliver-name-color: ;
    --footer-bg-color: ;
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 600;
    background-color: #f8ebe9;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}
/************** /ROOT STYLES END **************/
/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
/************** MAIN STYLES START **************/
/************** TOUR STYLES START **************/
.tour__wrapper {
    display: flex;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    width: 1100px;
    background-color: red;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 40px 24px -24px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

.tour__wrapper--start{
    display: flex;
    align-items: start;
    padding: 40px 35px;
    /* padding-top: 40px;
    padding-left: 35px; */
    width: 40%;
    height: 715px;
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.back {
    margin-top: 0;
    margin-bottom: 0;
}

.back {
    display: flex;
    justify-content: space-between;
    width: 50px;
    font-size: 12px;
    color: #627a99;
    transition: 0.5s;
}

svg {
    transition: 0.5s;
}

.back:hover {
    color: #000;
}

.back:hover svg {
    fill:#000;
}

/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */    

.tour__wrapper--end{
    padding: 40px 35px;
    width: 70%;
    background-color: #fff;
}

.cities__list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.city__link {
    font-size: 14px;
    color: #c1c1c1;
    transition: 0.5s;
}

.city__link:hover {
    color: #000;
}

.city__item:not(:last-child) {
    margin-right: 40px;
}

/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

.visiting{
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
    font-family: "Playfair+Display";
}

.visiting__title {
    position: relative;
    margin-bottom: 20px;
    width: 80%;
    font-size: 80px;
    font-weight: 400;
}

.visiting__title::after {
    position: absolute;
    right: -70px;
    bottom: 42px;
    display: block;
    content: "";
    width: 110px;
    height: 4.5px;
    background-color: #000;
}

.visiting__text {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 19px;
}

.preview {
    display: flex;
    align-items: start;
    padding-right: 50px;
}

.preview__start {
    position: relative;
    margin-right: 50px;
}

.preview--img {
    margin-bottom: 10px;
}

.preview__start::after {
    position: absolute;
    top: 40px;
    left: 70px;
    content: "";
    padding: 20px;
    background-color: #fff;
    display: block;
    background-image: url("./img/play.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
}

.preview__start::after:hover{
    transform: scale(0.5);
}


.preview__text {
    margin-top: 0;
    margin-bottom: 0;
    font-family: roboto;
    font-size: 12px;
}

.preview__text::after {
    position: absolute;
    bottom: 0;
    right: 57px;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("./img/arrow-forward.svg");
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: red; */
    fill: blue;
    
}

.preview__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 50%;
}



/************** TOUR STYLES END **************/
/************** MAIN STYLES END **************/
